* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  color: purple;
}

.list {
  width: 80%;
  height: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  background-color: rgb(210, 190, 250);
}

.list-header {
  display: flex;
  align-items: center;
}

h3 {
  color: rgb(56, 18, 18);
  margin: 0 1rem;
}

.list-header img {
  border-radius: 50%;
}

.list-bio {
  color: rgb(49, 23, 23);
}

/* add to list component */

.list-form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 1rem auto;
}

.list-form-input {
  padding: 0.3rem 0;
  margin: 0.2rem 0;
  caret-color: rgb(89, 21, 121);
}

.form-btn {
  padding: 0.4rem 0;
  color: white;
  background-color: teal;

  cursor: pointer;
  border: none;
}

.form-btn:hover {
  background-color: rgb(23, 57, 88);
}
